 <!DOCTYPE html>
<html>
<head>
  <title>Smart Chatbot</title>
<link rel="stylesheet" href="./styles.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

</head>

<body>
    <div class="container">
  <h1>Ask Me Anything 💾!</h1>
  <form method="POST" action="/ask">
    <input type="text" name="question" required placeholder="Enter your question" />
    <button type="submit">Ask</button>
  </form>

  <!-- <% if (answer) { %>
    <h2>Q: <%= question %></h2>
    <h3>A: <%= answer %></h3>
    <script src="script.js"></script>
    <script>
      speak("<%= answer %>");
    </script>
  <% } %>
 -->


  <% if (answer) { %>
    <h2>Q: <%= question %></h2>
    <h3>A: <%= answer %></h3>
    <script>
      function speak(text) {
        speechSynthesis.cancel(); // stop any ongoing speech
        const utterance = new SpeechSynthesisUtterance(text);
        utterance.rate = 0.8;
        speechSynthesis.speak(utterance);
      }

      speak("<%= answer %>");
    </script>
  <% } %>


</div>
</body>
</html> 








